<!--logo start-->
<div class="brand">
    <a href="index.html" class="logo">
        <span>neu</span>board</a>
</div>
<!--logo end-->
<ul class="nav navbar-nav navbar-left">
    <li class="toggle-navigation toggle-left">
        <button ng-click="$parent.slideToggle=!$parent.slideToggle" class="sidebar-toggle" id="toggle-left"><i class="fa fa-bars"></i></button>
    </li>
    <li class="hidden-xs hidden-sm">
        <input type="text" class="search" placeholder="Search project...">
        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
        </button>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li uib-dropdown class="dropdown profile hidden-xs">
        <a href="javascript:void(0);" id="dropdown-profile-link" class="dropdown-toggle" uib-dropdown-toggle>
            <span class="meta">
                <span class="avatar">
                    <img src="images/profile.png" class="img-circle" alt="">
                </span>
                <span class="text">Mike Adams</span>
                <span class="caret"></span>
            </span>
        </a>
        <ul class="dropdown-menu animated flipInX" role="menu" uib-dropdown-menu aria-labelledby="dropdown-profile-link">
            <li>
                <span class="arrow top"></span>
                <h5>
                    <p>80%</p>
                    <small class="text-muted">Profile complete</small>
                </h5>
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar" style="width: 80%">
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-user"></i>
                                </span>My Account</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-envelope"></i>
                                </span>Messages</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-cog"></i>
                                </span>Settings</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-sign-out"></i>
                                </span>Logout</a>
            </li>
        </ul>
    </li>
    <li class="toggle-navigation toggle-right" ng-click="alert(1)" >
        <button ng-click="$parent.$root.isFullscreen=!$parent.$root.isFullscreen;$parent.$root.toggleFullScreen()"  type="button" class="btn btn-default expand" id="toggle-fullscreen">
            <i class="fa" ng-class="{'fa-expand':!$parent.$root.isFullscreen,'fa-compress':$parent.$root.isFullscreen}"></i>
        </button>
    </li>
    <li class="toggle-navigation toggle-right">
        <button class="sidebar-toggle" id="toggle-right"><i class="fa fa-indent"></i></button>
    </li>
</ul>